.home-body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50,-50);
}

.home-navbar {
  background-color: #0068c6;
  min-width: 18%;
  max-width: 18%;
  min-height: 100vh;
}

.home-container{
    width: 100%;
}

.home-title{
    color:#0068c6;
    text-align: center;
}

.card-list{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.card{
    border : 1px solid #0068c6;
    text-align: center;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    font-size: 22px;
    width: 25vh;
}

.card:hover{
    box-shadow: 3px 3px 10px rgba(97,148,190,.3);
    transition: all .3s ease-in-out;
}


.IconBg{
    background-color: white;
}

.Icon{
    color: #0068c6;
}

