.home-navbar {
    background-color: #0068c6;
    min-width: 18%;
    max-width: 18%;
    min-height: 100vh;
  }

.test{
    color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 5vh;
}

.test:hover{
    color: rgba(0, 104, 198,0.8);
    background-color: white;
}